.add-user-form {
  width: 720px;
  height: 444px;
  background-color: #fff;
  border: 1px solid #000;
  padding: 40px 60px;
}

.container-bg {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #7D7D7D80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  &__inputs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 280px;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #5E626B;
    position: relative;

    & label {
      margin-bottom: 4px;
    }
  }

  &__input input, &__input--input {
    border: 1px solid #E3E8EE;
    height: 48px;
    width: inherit;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #5E626B;
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &-active {
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #ffffff;
    }

    & span {
      display: block;
      width: 12px;
      height: 7px;
      transform: rotate(180deg);
      background-image: url('./../../img/arrow.png');
      transition: all 0.3s ease-in-out;

      &.arrow-active {
        transform: rotate(0deg);
      }
    }
  }

  &__input-list {
    width: inherit;
    text-align: left;
    color: #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #fff;
    height: 100px;
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 4;
  }

  &__input-item {
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    cursor: pointer;
  }
}

.selected {
  color: #000;
}