@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
}
*,*:after,:before{
box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}


html, body{
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:100%;
}

input, button, textarea{
  font-size: inherit;
}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none};
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{
  font-size: inherit;
  font-weight: 400;
}

.content-body {
  max-width: 1240px;
  width: 100%;
  padding: 60px 80px 80px;
  border: 1px solid #000;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.table {
  display: grid;
  column-gap: 20px;

  &__header {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;

    &:first-child {
      padding-left: 36px;
    }

    &:last-child {
      padding-right: 36px;
    }
  }

  &__cell {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.2px;


    &--name {
      font-weight: 500;
    }
  }

  &__cell--start {
    padding-left: 36px;
  }

  &__cell--end {
    padding-right: 36px;
  }

  &__cell, &__header {
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: left;
  }

  &__divider {
    grid-column: span 5;
    height: 1px;
    background-color: #E3E8EE;
    margin: 0;
  }
}

input[type="checkbox"] {
  display: none;
}

.btn {
  display: block;
  height: 48px;
  width: 150px;
  border: 1px solid #C4C4C4;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik';
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.2px;
  text-align: center;

  &--cancel {
    width: 100px;
  }

  &:hover {
    background-color: #C4C4C4;
  }
}

.form {
  &__inputs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #5E626B;
    position: relative;

    & label {
      margin-bottom: 4px;
    }
  }

  &__input--input {
    color: #5E626B;
  }

  &__input input, &__input--input {

    &::placeholder {
      color: #5E626B;
    }

    border: 1px solid #E3E8EE;
    height: 48px;
    width: inherit;
    font-family: 'Rubik';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;


    &-active {
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: 1px solid #ffffff;
    }

    & span {
      display: block;
      width: 12px;
      height: 7px;
      transform: rotate(180deg);
      background-image: url('./img/arrow.png');
      transition: all 0.3s ease-in-out;

      &.arrow-active {
        transform: rotate(0deg);
      }
    }
  }

  &__input-list {
    width: inherit;
    text-align: left;
    color: #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #fff;
    height: 100px;
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 4;
  }

  &__input-item {
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    cursor: pointer;
  }

  &__submit {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
  }
}

.selected {
  color: #000;
}
